@()

@scripts = {
  <script src="@routes.Assets.at("javascripts/catalog.js")"></script>
}

@main("Catalog", scripts) {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Catalog</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>Searching Criteria</h2>
        <form data-bind="submit: searchMatching">
          <div class="form-group">
            <label for="itemId">Product ID</label>
            <input type="text" class="form-control" id="itemId"
                placeholder="Enter Product ID" data-bind="value: itemId">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>

      <div class="col-md-8" data-bind="visible: itemId().length > 0">
        <h2>Items matching <span data-bind="text: itemId"></span></h2>
        <p data-bind="visible: matchingItems().length == 0">No matching product.</p>
        <div data-bind="foreach: matchingItems">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" data-bind="text: id"></h3>
            </div>
            <div class="panel-body">
              <form data-bind="submit: $root.updateItem">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title"
                    data-bind="value: title" required pattern="^[A-Za-z\d].*"
                    title="Title must not be empty and starts with alphanumeric character.">
                </div>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" class="form-control" id="price"
                    data-bind="value: pricing.price(), attr: { min: pricing.minPrice() }" step="0.01">
                </div>
                <div class="form-group">
                  <label for="cost">Cost</label>
                  <input type="number" readonly class="form-control" id="cost"
                    data-bind="value: pricing.cost()">
                </div>
                <input type="hidden" class="form-control" id="id"
                  data-bind="value: id">
                <input type="hidden" class="form-control" id="promoPrice"
                  data-bind="value: pricing.promoPrice">
                <input type="hidden" class="form-control" id="savings"
                  data-bind="value: pricing.savings">
                <input type="hidden" class="form-control" id="onSale"
                  data-bind="value: pricing.onSale">
                <button type="submit" class="btn btn-default">
                  Update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
